:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;    
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: initial;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--darker);
    color: #FFF;
}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
h2 {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 700;
}
.greeting .title {
    display: flex;
}
.greeting .title,
.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
    color: var(--purple);
    
}
.greeting .title input {
    color: var(--light);
    font-size: 1.5rem;
    font-weight: 700;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border:none;
    outline: none;
    background: none;
}

#new-task-input[type="text"] {
    flex: 1 1 0%;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    border-color: black;
    margin-right: 1rem;
    color: var(--pink);
    font-size: 1.25rem;
    display: block;
    
}
input[type="checkbox"] {
    display: none;
}

.task .bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}

.task .bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

#new-task-input::placeholder {
    color: var(--gray);
}
#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover {
    opacity: 0.8;
}
#new-task-submit:active {
    opacity: 0.6;
}
main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list {
    padding: 1rem;
}
.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .input{
    color-scheme: var(--light);
    padding: 2rem;
}
.task .content .text {
    flex: auto;
    color: var(--purple);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
.tasks .content .text:not(:read-only) {
    color: var(--pink);
}
.tasks .content .text:read-only{
    color: crimson;
}
.tasks .actions {
    display: flex;
    margin: 0 -0.5rem;
    
}
#tasks .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
#tasks .actions button:hover {
    opacity: 0.8;
}
#tasks .actions button:active {
    opacity: 0.6;
}
.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete {
    color: crimson;
}

